spring:
  application:
    name: challenge-inter
  h2:
    console:
      path: /h2
      enabled: true
  datasource:
      url: jdbc:h2:mem:challengeinterdb
      driverClassName: org.h2.Driver
      username: sa
      password: sa
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
server:
  port: 9000
app:
  cache-max-size: 10